<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <h3>Angular 2 Forms</h3>

  <form #form="ngForm" novalidate>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" required="required" name="firstName" class="form-control" [(ngModel)]="model.firstName">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" required="required" name="lastName" class="form-control"
      [ngModel]="model.lastName" (ngModelChange)="lastNameToUpper($event)">
    </div>

<!-- 
    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" ngModel> Full Time Employee
      </label>
    </div>
    <label>Payment Type</label>
    <div class="radio">
      <label for="">
        <input type="radio" name="pay-type" value="w2" checked="checked" ngModel>W2
      </label>
    </div>
    <div class="radio">
      <label for="">
        <input type="radio" name="pay-type" value="1099" ngModel>1099
      </label>
    </div>

    <div class="form-group">
      <label>Primary Language</label>
      <select name="" id="" class=form-control>
        <option *ngFor="let lang of languages"> 
          {{lang}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Date Hired</label>
      <input type="date" class="form-control">
    </div>


    <!--- ****************************************************     -->
    <button class="btn btn-primary" type="submit">Ok</button>  

    <div>
      Model : {{ model | json}}
      <br>
      Angular : {{ form.value | json }}
      <br>
      Is form pristine? : {{ form.pristine }}
    </div>
    
  </form>
</div>

 



