<!--The content below is only a placeholder and can be replaced.-->
<!-- <h3 *ngIf='languages.length == 0'>Loading...</h3> -->
<!-- <div class="container" *ngIf='languages.length > 0'> -->
  <div class="container">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span><a class="navbar-brand header" href="#">Angular 2 Forms</a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-item">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/forms']">Forms <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-item">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/date']">Date <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-item">
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['/time']">Time <span class="sr-only">(current)</span></a>
        </li>
      </ul> 
      <ul class="navbar-nav navbar-item">
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['/buttons']">Buttons <span class="sr-only">(current)</span></a>
        </li>
      </ul> 
      
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
 
  
</div>

 



